<!-- partials/adminFooter.ejs -->
<footer class="bg-light py-2 fixed-bottom">
   <div class="container text-center text-muted small">
      <div>
         <i class="bi bi-person-fill me-1"></i> Author: Blade & Soul API Server 2020 — 
         <a href="https://github.com/war100ck" target="_blank" class="text-muted text-decoration-none">
         <i class="bi bi-github me-1"></i> WAR100CK
         </a>
      </div>
   </div>
</footer>