<div class="container mb-5 lazy-section right" id="classes">
         <div class="row justify-content-center text-center">
            <ul class="game-classes-nav">
               <li style="opacity: 1; transform: none;">
                  <a href="javascript:void(0)" class="game-classes-icon assassin" 
                     style="background-image:url('images/classes/class-icons-assassin.png')" 
                     data-class="Assassin" 
                     data-image="images/classes/assasin1.webp" 
                     data-races='["images/races/race-sheng.png"]'
                     data-races-text='["jin"]'
                     data-description="Assassin — While most classes charge in bold and daring, the Assassin is a stealthy sort that prefers to take things at their own pace. They can control the battlefield like no other, luring enemies into deadly traps before they even know what hit them.
                     The Assassin whittles away at their enemy’s strength with rapid fire attacks that cause bleeding and poison damage, which drain the life from their foes over time. While their razor-sharp Dagger is vital, they also employ explosives, poisons, smoke, and other potent utilities to hobble their enemies. On top of their ingenuity, they can also use strange martial arts that allow them to turn nearly invisible, teleport around the field, and even swap places with enemies in an instant.
                     In comparison to others, Assassins work best alone. However, their status-altering abilities and damage-over-time effects make them an important addition to any large-scale battle.">
                     <div class="game-classes-icon-title">Assassin</div>
                  </a>
               </li>
               <li style="opacity: 1; transform: none;">
                  <a href="javascript:void(0)" class="game-classes-icon blademaster" 
                     style="background-image:url('images/classes/class-icons-blademaster.png')" 
                     data-class="Blade Master" 
                     data-image="images/classes/blademaster.webp" 
                     data-races='["images/races/race-sheng.png", "images/races/race-feng.png"]'
                     data-races-text='["Jin", "Yun"]'
                     data-description="Blade Master - (not to be confused with Blade Dancer) is a *Warrior* class that specializes in sword combat to deliver a variety of attacks. Blade Masters do not have high static defense but are adept at parrying and evading their enemies' blows and then following up with counter attacks. Blade Master can also go on the offensive with their Draw stance to inflict quick and powerful blows. As far as range, Blade Masters can use Flying Sword techniques that will harm their enemies from afar.">
                     <div class="game-classes-icon-title">Blade Master</div>
                  </a>
               </li>
               <li style="opacity: 1; transform: none;">
                  <a href="javascript:void(0)" class="game-classes-icon destroyer" 
                     style="background-image:url('images/classes/class-icons-destroyer.png')" 
                     data-class="Destroyer" 
                     data-image="images/classes/destroyer.webp" 
                     data-races='["images/races/race-wan.png"]'
                     data-races-text='["Gon"]'
                     data-description="The Destroyer is an axe-wielding melee class that specializes in powerful crowd controls, decent party support, and solid, consistent damage. Relentless and brutal, Destroyers are well known for their mobility and large variety of stuns, dazes, knockdowns, as well as their infamous ability to grapple and lift their opponents. As such, they are considered one of the primary frontline classes, always in the face of the enemy and ready to change the flow of battle. To say that the Destroyer's attack patterns lack elegance and complexity would be a complete misnomer; they hardly have a pattern to begin with. Instead, Destroyers favor a completely straightforward rule of combat: Constantly chop away at the enemy's health and look for opportunities to crowd control them. For this reason, one may find themselves interested in picking a Destroyer if they enjoy domination above all else. The Destroyer is limited to the Gon race only.">
                     <div class="game-classes-icon-title">Destroyer</div>
                  </a>
               </li>
               <li style="opacity: 1; transform: none;">
                  <a href="javascript:void(0)" class="game-classes-icon forcemaster" 
                     style="background-image:url('images/classes/class-icons-forcemaster.png')" 
                     data-class="Force Master" 
                     data-image="images/classes/forcemaster.webp" 
                     data-races='["images/races/race-lin.png", "images/races/race-wan.png", "images/races/race-feng.png"]'
                     data-races-text='["Lyn", "Gon", "Yun"]'
                     data-description="The Force Master (aka FM) is a ranged class that excels in dealing strong, continuous damage while offering moderate amounts of crowd control and utility. Using bangles to cast elemental projectiles, FMs effectively function as mobile *gunners* by relying on movement and positioning in order to kite around their enemies without compromising DPS. Within the lore of Blade and Soul, FMs epitomize the nature of duality, owing to their distinct fire and ice stances; which they use for damage and defense/utility, respectively. To walk the path of a Force Master, one must be wary of using the two stances together, lest they should accidentally cast the wrong spell at the wrong moment. In choosing a FM, you will find versatility and great damage potential, making you both an excellent party member and a capable solo player.">
                     <div class="game-classes-icon-title">Force Master</div>
                  </a>
               </li>
               <li style="opacity: 1; transform: none;">
                  <a href="javascript:void(0)" class="game-classes-icon kungfumaster" 
                     style="background-image:url('images/classes/class-icons-kungfumaster.png')" 
                     data-class="Kung Fu Master" 
                     data-image="images/classes/kungfumaster.webp" 
                     data-races='["images/races/race-wan.png", "images/races/race-sheng.png", "images/races/race-feng.png"]'
                     data-races-text='["Gon", "Jin", "Yun"]'
                     data-description="The Kung Fu Master - (aka KFM) is a close-quarter combat class that relies upon quick reflexes (and good latency) to fight with near-invincibility while delivering respectful, oftentimes surprising damage. Armed with nothing more than gauntlets and their own bodies, KFMs are renown as the most difficult class to play in Blade and Soul, due to the unforgiving nature of their timing-based attack conditions. On the defensive, KFMs can effortlessly dodge and counter nearly anything thrown their way, which effectively makes them an ideal tank class (if players chose to generate and hold threat). However, the higher level KFM players goes, gameplay revolves around using their attacks and dodges together in one fluid style, giving off the appearance of constantly fighting within the eye of a storm. The decision to main a KFM isn't one meant to be taken lightly; that being said, all other classes will feel easier by comparison, should you successfully master the art of kung fu.">
                     <div class="game-classes-icon-title">Kung Fu Master</div>
                  </a>
               </li>
               <li style="opacity: 1; transform: none;">
                  <a href="javascript:void(0)" class="game-classes-icon summoner" 
                     style="background-image:url('images/classes/class-icons-summoner.png')" 
                     data-class="Summoner" 
                     data-image="images/classes/summoner1.webp" 
                     data-races='["images/races/race-lin.png"]'
                     data-races-text='["Lyn"]'
                     data-description="The Summoner and their Familiar are a team, fighting together to overwhelm their enemies. The Familiar rushes into the thick of it, dealing heavy physical damage and holding the attention of their opponent. Meanwhile, the Summoner hangs back, supporting their Familiar with long range skills that both help their feline friend and hinder their shared enemy.
                     Don`t let the adorable appearance of these two fool you. Summoner attacks deal constant damage and can readily control the flow of battle, making them particularly hard to deal with. Even if one part of the team is defeated, they can revive their fallen ally and jump right back into the fight.
                     The Summoner and their Familiar are the strongest at transferring health from foes to themselves. While it is a great class for novices, actually mastering the Summoner is a difficult process given their wide range of tactics and abilities.">
                     <div class="game-classes-icon-title">Summoner</div>
                  </a>
               </li>
               <li style="opacity: 1; transform: none;">
                  <a href="javascript:void(0)" class="game-classes-icon bladedancer" 
                     style="background-image:url('images/classes/class-icons-bladedancer.png')" 
                     data-class="Blade Dancer" 
                     data-image="images/classes/bladedancer.webp" 
                     data-races='["images/races/race-lin.png"]'
                     data-races-text='["Lyn"]'
                     data-description="The Blade Dancer is a Lyn-only class. Using their small size, Lyns utilize swift precise movements to nimbly attack their opponents. The Blade Dancer is a sword wielding class that delivers powerful melee attacks, has a decent number of defensive abilities, and has a few ranged attacks at their disposal. It is a well rounded class that is able to unleash a lot of both burst and consistent damage over time. They are relatively easy to level, thanks to their massive collection of AoE skills and the relatively low difficulty in playing the class effectively.
                     Although it is similar to Blade Master in name, both are very different.
                     • Blade Dancers have lower health, defense and block, but have higher crit and evasion.
                     • Blade Dancers have more AoE skills and skills with crowd control effects but overall damage is lower.
                     • Blade Dancers cannot use the skill `Block`. They have to utilize the 0.5 second parry window of the upgraded `Vortex` ability or an upgraded version of their `Guardian Tempest` ability to nullify attacks.
                     • Blade Dancers can only shift to the quick draw stance using `Lightning Slash` or through an upgraded version of `Dual Strike`.
                     • Conditions for using some skills are different.
                     • Overall simpler mechanics.
                     • Although weaker weapons are shared between the two classes, stronger swords (obtained in party dungeons) are separately labeled as a `Lyn Blade`.">
                     <div class="game-classes-icon-title">Blade Dancer</div>
                  </a>
               </li>
               <li style="opacity: 1; transform: none;">
                  <a href="javascript:void(0)" class="game-classes-icon warlock" 
                     style="background-image:url('images/classes/class-icons-warlock.png')" 
                     data-class="Warlock" 
                     data-image="images/classes/warlock.webp" 
                     data-races='["images/races/race-lin.png", "images/races/race-sheng.png"]'
                     data-races-text='["Lyn", "Jin"]'
                     data-description="Harnessing dark magics, the Warlock is a medium-ranged caster that relies on empowered Talismans—floating supernatural writings that can be consumed or unleashed to great effect—to protect or attack. Through their Talismans they primarily focus on summoning visceral and nefarious restraints and weapons, like spikes and chains.
                     While the Warlock can be considered a glass cannon, they have a number of ways to keep their enemies at bay, not the least of which is their ability to summon a giant demonic Thrall to finish off their enemies. By keeping enemies at a distance, marking them with limited-time debuffs, and mastering their lengthy ability cooldowns, a Warlock can be a difficult—but rewarding—martial art to master.
                     Their flamboyant attitude is matched only by their deadly cunning, but catch a Warlock off guard and their cocky expression could be wiped from their face; just keep an eye out for the giant demon.">
                     <div class="game-classes-icon-title">Warlock</div>
                  </a>
               </li>
               <li style="opacity: 1; transform: none;">
                  <a href="javascript:void(0)" class="game-classes-icon soulfighter" 
                     style="background-image:url('images/classes/class-icons-soulfighter.png')" 
                     data-class="Soul Fighter" 
                     data-image="images/classes/soulfighter.webp" 
                     data-races='["images/races/race-wan.png", "images/races/race-sheng.png", "images/races/race-feng.png"]'
                     data-races-text='["Gon", "Jin", "Yun"]'
                     data-description="The Soul Fighter - is the only class that is able to deal heavy damage up close and from a distance. Their swift strikes are complemented by their equally-rapid dashes, keeping them from taking harm, and precisely positioning themselves to take advantage of their opponent’s vulnerabilities.
                     Soul Fighters actively manage their ranged and melee abilities by changing stances to best fit the situation. The Elemental stance abilities will freeze enemies in place, while the Kung Fu stance focuses on fast close-combat combos. At their maximum Chi level the Soul Fighter unlocks their most powerful and devastating attack, laying waste to opponents with a single strike.
                     A flexible and fast warrior, the Soul Fighter can be efficient as a solo combatant, but relies on the support of others in more difficult challenges. However, as a master of the Chi, their party-healing buffs ensure they’re a welcome addition in any group.">
                     <div class="game-classes-icon-title">Soul Fighter</div>
                  </a>
               </li>
               <li style="opacity: 1; transform: none;">
                  <a href="javascript:void(0)" class="game-classes-icon gunslinger" 
                     style="background-image:url('images/classes/class-icons-gunslinger.png')" 
                     data-class="Gunslinger" 
                     data-image="images/classes/gunslinger.webp" 
                     data-races='["images/races/race-lin.png", "images/races/race-sheng.png", "images/races/race-feng.png"]'
                     data-races-text='["Lyn", "Jin", "Yun"]'
                     data-description="As a gun-toting wrecking machine, the Gunslinger is a unique martial artist; entering battle with dual wielding pistols capable of taking down the hardiest of enemies. Gunslingers can also make use of a special grappling hook that aids them in both offense and defense!
                     Visualizing their attacks as a “harmony of destruction,” the Gunslinger is seen as the maestro of combat, orchestrating an unstoppable barrage of gunfire against any opponents that get in their way. With lightning quick reflexes, this mobile shooter moves on the battlefield unlike any other warrior.
                     Gunslingers come to the table with an impressive array of skills that separate them from any other type of combatant. Able to channel the elements of Flame or Shadow, Gunslingers can generate special attacks that enhance their projectiles.">
                     <div class="game-classes-icon-title">Gunslinger</div>
                  </a>
               </li>
               <li style="opacity: 1; transform: none;">
                  <a href="javascript:void(0)" class="game-classes-icon warden" 
                     style="background-image:url('images/classes/class-icons-warden.png')" 
                     data-class="Warden" 
                     data-image="images/classes/warden.webp" 
                     data-races='["images/races/race-wan.png", "images/races/race-lin.png", "images/races/race-sheng.png"]'
                     data-races-text='["Gon", "Lin", "Jin"]'
                     data-description="Wielding a massive greatsword, the Warden is both capable of absorbing punishment and unleashing it upon its foes. This resilient tank will decimate all those who stand in its way, even if it must spill its own blood to do so.
                     Mastery of the Warden involves the balance of when to control the enemy and neutralize their attacks and when to unleash their fury to slay the enemy. The Warden is mobile as well, able to maneuver around the battlefield in order to deflect opponent attacks and intercept their targets.
                     The Warden will choose the path of Lightning or Frost. The Lightning Warden embodies the chaos of a storm and uses Frenzy Stance to furiously slash at its enemies with no regard for its own life. The Frost Warden embraces the elements, using the power of the sun and moon to enter an enlightened state of Sentry Stance and overwhelm the opponent with devestating strikes.">
                     <div class="game-classes-icon-title">Warden</div>
                  </a>
               </li>
               <li style="opacity: 1; transform: none;">
                  <a href="javascript:void(0)" class="game-classes-icon zenarcher" 
                     style="background-image:url('images/classes/class-icons-zenarcher.png')" 
                     data-class="Zen Archer" 
                     data-image="images/classes/zenarcher.webp" 
                     data-races='["images/races/race-sheng.png", "images/races/race-feng.png"]'
                     data-races-text='["Jin", "Yun"]'
                     data-description="Unlike their ranged combat counterparts, the Zen Archer approaches the battlefield with relative calm. As chaos reigns in the middle of combat, Zen Archers can adapt to any scenario while maintaining a harmonic balance of control and precision in the heat of battle.
                     The Zen Archer can only truly achieve perfection of their skills by sustaining inner peace while in the throes of battle. Their intent is to use nothing more than their bow to unleash a flurry of sharpened destruction, taking down all those who oppose them with absolute composure.
                     The Zen Archer can follow either the path of Light or the Wind. A Zen Archer specialized as a Lightbringer will leverage the harmony of light and sound to perfect their attacks as they seamlessly flow through combat. Zen Archers that follow the Way of the Windpiercer excel at targeting their enemies’ weakest point with unparalleled precision.">
                     <div class="game-classes-icon-title">Zen Archer</div>
                  </a>
               </li>
               <!-- <li style="opacity: 1; transform: none;"> -->
               <!-- <a href="javascript:void(0)" class="game-classes-icon astromancer"  -->
               <!-- style="background-image:url('images/classes/class-icons-astromancer.png')"  -->
               <!-- data-class="Astromancer"  -->
               <!-- data-image="images/classes/astromancer.webp"  -->
               <!-- data-races='["images/races/race-lin.png"]' -->
               <!-- data-races-text='["Lyn"]' -->
               <!-- data-description="The Astromancer calls upon the powers of the stars as well as the heavens, delivering devastating combos that lay waste to enemies. A true Astromancer balances the powers of the cosmos as well as the electrifying powers of the storms to defeat their foes. -->
               <!-- Able to twist the very fabric of space, the Astromancer can change their form to move around the battlefield and better position to deliver maxium lethality. Whether with lightning fast combos, or destructive abilities, the Astromancer controls combat like no other. -->
               <!-- The Astromancer can focus on one of two specializations, that of the Starcaster or the Stormweaver. The Starcaster focuses their talents on cosmic level abilities such as metor rain and blackholes, whereas the Stromweaver delivers spinning lighting disks, bouncing lightning balls, and rapid fire attacks to devastate their opponents."> -->
               <!-- <div class="game-classes-icon-title">Astromancer</div> -->
               <!-- </a> -->
               <!-- </li>  -->
               <li style="opacity: 1; transform: none;">
                  <a href="javascript:void(0)" class="game-classes-icon dualblade" 
                     style="background-image:url('images/classes/class-icons-dualblade.png')" 
                     data-class="Dual Blade" 
                     data-image="images/classes/dualblade.webp" 
                     data-races='["images/races/race-sheng.png", "images/races/race-feng.png"]'
                     data-races-text='["Jin", "Yun"]'
                     data-description="Dual Blades live by one mantra: the best defense is a good offense.
                     Risking their own lives in combat to keep pushing blade mastery to the limits earned Dual Blades a reputation of being seekers of overwhelming power. Their lightning speed, devastating attacks, and flashy combat are unmatched.
                     Dual Blades can control their difficulty level by focusing on one of two specializations: the Way of the Lotus, which lets them harvest on the energy of harmony to unlock powerful skills; and the Way of the Shifting Blades – one of the most challenging specializations which focuses on cycling through stances with blades changing directions during lighting fast attacks.
                     The Dual Blade is a close-combat (melee) class, which martial arts style emanates agility and elegance. Wielding Twin Swords, they aim to push their limits with fluid movement and lightning-speed swordplay. This class is only available to the Jin or Yun race.
                     While there are no defined roles in Blade & Soul, melee classes are often the `tank` of the party and Dual Blades will have no issues tanking a boss with asset of numerous evade skills, at the same time still providing continuous and high burst attacks.">
                     <div class="game-classes-icon-title">Dual Blade</div>
                  </a>
               </li>
               <!-- Повторите аналогично для остальных классов -->
            </ul>
         </div>
      </div>