<!-- partials/game-features.ejs -->
<div class="container mb-5 lazy-section left" id="game-features">
         <h1 class="section-title text-center text-light">Game Features</h1>
         <div id="featuresCarousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
               <div class="carousel-item active">
                  <div class="row">
                     <div class="col-md-4 mb-4">
                        <div class="card feature-card" style="height: 250px;">
                           <div class="card-body">
                              <h5 class="card-title text-light" style="margin-top: -0.5rem; margin-bottom: 1.5rem;">Beauty</h5>
                              <p class="text-light">One of the main features of Blade & Soul is its stunningly beautiful game world, featuring breathtaking views.</p>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-4 mb-4">
                        <div class="card feature-card" style="height: 250px;">
                           <div class="card-body">
                              <h5 class="card-title text-light" style="margin-top: -0.5rem; margin-bottom: 1.5rem;">Stylistics</h5>
                              <p class="text-light">The Asian flair creates a unique atmosphere with majestic pagodas and beautiful nature scenes.</p>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-4 mb-4">
                        <div class="card feature-card" style="height: 250px;">
                           <div class="card-body">
                              <h5 class="card-title text-light" style="margin-top: -0.5rem; margin-bottom: 1.5rem;">Engine</h5>
                              <p class="text-light">To maximize dynamics and spectacle, the developers at NC Soft chose the Unreal Engine 3.</p>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="carousel-item">
                  <div class="row">
                     <div class="col-md-4 mb-4">
                        <div class="card feature-card" style="height: 250px;">
                           <div class="card-body">
                              <h5 class="card-title text-light" style="margin-top: -0.5rem; margin-bottom: 1.5rem;">Faction Camps</h5>
                              <p class="text-light">In the world, there are special camps where players can receive faction quests, ranks, and rewards.</p>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-4 mb-4">
                        <div class="card feature-card" style="height: 250px;">
                           <div class="card-body">
                              <h5 class="card-title text-light" style="margin-top: -0.5rem; margin-bottom: 1.5rem;">Dragon Paths</h5>
                              <p class="text-light">Streams of spiritual energy are distributed throughout the world, allowing heroes to reach hard-to-access places.</p>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-4 mb-4">
                        <div class="card feature-card" style="height: 250px;">
                           <div class="card-body">
                              <h5 class="card-title text-light" style="margin-top: -0.5rem; margin-bottom: 1.5rem;">Customization</h5>
                              <p class="text-light">Blade & Soul offers diverse customization options for creating unique characters. Players can choose from various hairstyles, facial features, and outfits.</p>
                              <p class="text-light">Experiment to find the perfect look for your hero!</p>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <a class="carousel-control-prev" href="javascript:void(0);" role="button" data-slide="prev" onclick="$('#featuresCarousel').carousel('prev');">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="javascript:void(0);" role="button" data-slide="next" onclick="$('#featuresCarousel').carousel('next');">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
            </a>
         </div>
      </div>