<!-- partials/hero.ejs -->
<div class="hero-content d-none d-md-block text-center">
   <h1 class="hero-title">
      Welcome to 
      <img src="images/logo/logo-bns.webp" alt="Blade & Soul" class="logo-img hero-logo-img" width="340" height="155" vertical-align="middle">
      private server
   </h1>
   <p class="hero-subtitle">Immerse yourself in the world of Blade & Soul</p>
   <button id="join-us-button" class="sprite-button" data-bs-toggle="modal" data-bs-target="#signupModal">Join Us Now</button>
</div>
<!-- Hero Content for Mobile -->
<div class="hero-content-mobile d-block d-md-none text-center">
   <h1 class="hero-title">Welcome to our <br> private server</h1>
   <p class="hero-subtitle">Immerse yourself in the world of Blade & Soul</p>
   <button id="join-us-button-mobile" class="sprite-button" data-bs-toggle="modal" data-bs-target="#signupModal">Join Us Now</button>
</div>