<!-- Signup Modal -->
<div class="modal fade" id="signupModal" tabindex="-1" aria-labelledby="signupModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="signupModalLabel">Sign Up</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Сообщения об ошибках -->
        <div id="error-message" class="error-message d-none"></div>
        <form id="registration-form">
          <div class="mb-3">
            <label for="account_name" class="form-label">Username</label>
            <input type="text" class="form-control" id="account_name" name="account_name" placeholder="Enter your username">
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email">
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="account_password" placeholder="Enter your password">
          </div>
          <button type="submit" id="register-submit-button" class="sprite-button-smal">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>