<!-- partials/system-requirements.ejs -->
<div class="container mb-5 lazy-section left" id="system-requirements">
   <h1 class="section-title text-center text-light">System Requirements</h1>
   <div class="row">
      <div class="col-md-6 mb-4">
         <div class="card" style="background: rgba(0, 0, 0, 0.7); box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);">
            <div class="card-body">
               <h5 class="card-title text-light" style="margin-top: -0.5rem; margin-bottom: 1.5rem;">Minimum Requirements</h5>
               <ul class="text-light">
                  <li>Operating System: Windows 7 (x32/x64)</li>
                  <li>Processor: AMD FX-4xxx / Intel Core i3</li>
                  <li>Graphics Card: AMD Radeon HD 3870 / GeForce 9800</li>
                  <li>RAM: 4 GB</li>
                  <li>Hard Disk Space: 55 GB</li>
               </ul>
            </div>
         </div>
      </div>
      <div class="col-md-6 mb-4">
         <div class="card" style="background: rgba(0, 0, 0, 0.7); box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);">
            <div class="card-body">
               <h5 class="card-title text-light" style="margin-top: -0.5rem; margin-bottom: 1.5rem;">Recommended Requirements</h5>
               <ul class="text-light">
                  <li>Operating System: Windows 7 (x64)</li>
                  <li>Processor: AMD FX-6xxx / Intel Core i5</li>
                  <li>Graphics Card: AMD Radeon HD 4890 / GeForce GTS 450</li>
                  <li>RAM: 8 GB</li>
                  <li>Hard Disk Space: 55 GB</li>
               </ul>
            </div>
         </div>
      </div>
   </div>
</div>
