<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <title>404 not found</title>
      <link rel="icon" href="/images/favicon.png" type="image/png">
      <link rel="stylesheet" href="/css/404.css">
   </head>
   <body>
      <div class="container">
         <div class="info-label">
            <div class="error">
               <h2>404</h2>
               <div class="text">
                  <b>Error</b>
               </div>
            </div>
         </div>
         <div class="info-text">
            <h1>Page not found</h1>
            <a href="/"> Go To Home Page </a>
            <p>"You're really behind the times up there at Dawn Peak. This beacon allows fast travel across the world." — To Dunhan</p>
         </div>
      </div>
   </body>
</html>