body {
background-color:#f8f9fa;
padding-top:60px;
margin:0;
}

.container {
margin-top:60px;
}

.table th,.table td {
text-align:center;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #e9ecef;
}

.user-data-table th, .user-data-table td {
    text-align: left;
}

.table-dark th {
background-color:#343a40;
color:#fff;
}

.username-highlight {
font-weight:700;
color:#007bff;
}

.btn-custom {
margin:0 .5rem;
}

.header-title {
flex-grow:1;
}

.total-count {
font-weight:700;
font-size:1rem;
color:#6c757d;
padding:0 10px;
}

.account-count,.creature-count,.deleted-creature-count {
font-size:1rem;
font-weight:700;
color:#6c757d;
}

.accounts-count,.created-count {
color:#2E8B57;
}

.deleted-count {
color:red;
}

td.deleted-count {
  color: red;
}

.user-radio {
accent-color:green;
}

.admin-radio {
accent-color:red;
}

#search-input {
margin-right:10px;
}

.navbar {
background-color:#007bff;
position:fixed;
top:0;
left:0;
right:0;
z-index:1000;
box-shadow:0 4px 6px rgba(0,0,0,0.1);
}

.navbar-nav .nav-item a {
color:#FFF;
font-size:16px;
text-decoration:none;
display:block;
position:relative;
transition:color .3s ease, padding-bottom .3s ease;
padding:10px 15px;
}

.navbar-nav .nav-item a::after {
content:'';
position:absolute;
bottom:-5px;
left:0;
width:0;
height:2px;
background-color:#ffd700;
transition:width .3s ease;
}

.navbar-nav .nav-item a:hover {
color:#f8f9fa;
}

.navbar-nav .nav-item a:hover::after {
width:100%;
}

.navbar-nav .nav-item.active a {
color:#ffd700;
font-weight:700;
}

.navbar-nav .nav-item.active a::after {
width:100%;
left:0;
background-color:#ffd700;
}

.navbar-nav .nav-item:last-child a {
color:#e74c3c;
}

.navbar-nav .nav-item:last-child a:hover {
color:#fff;
}

.toast {
position:fixed;
top:65px;
right:20px;
z-index:1050;
}

.time-part {
font-weight:700;
font-size:1em;
padding:0 3px;
}

.slash {
color:#000;
}

.accordion-button:not(.collapsed) {
background-color:#007bff;
color:#FFF;
}

.accordion-button.collapsed {
background-color:#f8f9fa;
color:#000;
}

.header-container,.search-container {
display:flex;
align-items:center;
}

.month,.week,.day,.hour,.minute,.second {
color:#0d6efd;
}

#new-petition-indicator {
    display: none; /* Скрыть по умолчанию */
}

#new-petition-indicator .fa-envelope {
    color: #FFD700; /* Желтый цвет для иконки */
    animation: blink 1s step-start infinite;
}

#new-petition-indicator.active .fa-envelope {
    color: #FF6347; /* Красный цвет, когда активен */
}

#new-petition-indicator.active #new-petition-text {
    font-weight: bold;
    color: #FF6347;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

.form-label {
    font-weight: bold;
  }

  .form-row {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  .category-select, .item-select {
    width: calc(100% - 95px); /* Уменьшаем ширину, чтобы хватило места для иконки */
  }

.col-with-icon {
    position: relative;
    display: flex;
    align-items: center; 
}

.item-select {
    flex-grow: 1; 
    margin-right: 50px; /* Добавьте отступ для иконки */
}

#vipStatusContainer .vip-alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

#vipStatusContainer .vip-alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

#vipStatusContainer .vip-alert-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}

.chart-container {
  position: relative;
  margin: 0; /* Убедитесь, что нет лишних отступов */
  padding: 0;
  height: 300px; /* Ограничение высоты */
  width: 100%;
}

canvas {
  display: block; /* Убирает дополнительные отступы */
  height: 100%; /* Заполняет высоту родительского элемента */
  width: 100%; /* Заполняет ширину родительского элемента */
}

.color-box {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 5px;
}

.money-icon {
  width: 10px;
  height: auto;
}
		 
.vip-status-icon {
  width: 50px;
  height: 50px;
  margin-left: 10px; /* Отступ между текстом и иконкой */
  vertical-align: middle; /* Центрирование по вертикали */
}



