#preloader{align-items:center; background-color:#000; display:flex; height:100%; justify-content:center; left:0; position:fixed; top:0; width:100%; z-index:9999}
.bns{animation:play 0.5s steps(16) infinite; background:url("../images/button/devtracker_loading.png") left center; height:42px; margin:20px auto; opacity:1; transition:opacity 0.5s ease; width:100px}
.active .bns{animation:play 0.5s steps(16) infinite}
.bns.disabled{opacity:0}
@keyframes play{from{background-position:0 0}
to{background-position:0 -716px}
}