IF DB_ID(N'DonationsDb') IS NULL
BEGIN
    PRINT 'Database DonationsDb does not exist. Creating...';
    
    -- Определяем путь для файлов базы данных на основе существующих пользовательских баз
    DECLARE @CustomDataPath NVARCHAR(4000);
    
    -- Получаем наиболее часто используемый путь из существующих пользовательских баз
    SELECT TOP 1 @CustomDataPath = LEFT(physical_name, LEN(physical_name) - CHARINDEX('\', REVERSE(physical_name)) + 1)
    FROM sys.master_files 
    WHERE database_id > 4 -- исключаем системные базы
      AND type = 0 -- только файлы данных
      AND physical_name IS NOT NULL
    GROUP BY LEFT(physical_name, LEN(physical_name) - CHARINDEX('\', REVERSE(physical_name)) + 1)
    ORDER BY COUNT(*) DESC;
    
    -- Если не нашли пользовательских баз, используем путь из master
    IF @CustomDataPath IS NULL
    BEGIN
        SELECT TOP 1 @CustomDataPath = LEFT(physical_name, LEN(physical_name) - CHARINDEX('\', REVERSE(physical_name)) + 1)
        FROM sys.master_files 
        WHERE database_id = 1 -- master database
        AND file_id = 1;
    END
    
    -- Создаем базу данных с определенным путем
    DECLARE @SQL NVARCHAR(MAX);
    SET @SQL = N'CREATE DATABASE [DonationsDb] ON PRIMARY (NAME = N''DonationsDb'', FILENAME = N''' + @CustomDataPath + N'DonationsDb.mdf'') LOG ON (NAME = N''DonationsDb_log'', FILENAME = N''' + @CustomDataPath + N'DonationsDb_log.ldf'')';
    
    EXEC sp_executesql @SQL;
END
ELSE
BEGIN
    PRINT 'Database DonationsDb already exists.';
END
GO

USE [DonationsDb]
GO

/****** Object:  Table [dbo].[Products]    Script Date: 03.09.2025 20:01:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](255) NULL,
	[price] [decimal](10, 2) NULL,
	[image] [varchar](255) NULL,
	[bonus] [int] NULL,
	[sale] [bit] NULL,
	[addedAt] [datetime] NULL,
	[quantity] [int] NULL,
	[bonusAmount] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[userDonationsDB]    Script Date: 03.09.2025 20:01:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[userDonationsDB](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[userId] [uniqueidentifier] NOT NULL,
	[amount] [int] NOT NULL,
	[productName] [nvarchar](100) NOT NULL,
	[quantity] [int] NOT NULL,
	[productId] [bigint] NOT NULL,
	[price] [decimal](18, 2) NOT NULL,
	[bonus] [nvarchar](255) NULL,
	[date] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([id], [name], [price], [image], [bonus], [sale], [addedAt], [quantity], [bonusAmount]) VALUES (1, N'10000 Velirs', CAST(1.00 AS Decimal(10, 2)), N'/images/donations/66d6eb7fa4d0e74547f6ec96e3027549', 0, 0, CAST(N'2025-01-24T16:37:41.043' AS DateTime), 10000, NULL)
INSERT [dbo].[Products] ([id], [name], [price], [image], [bonus], [sale], [addedAt], [quantity], [bonusAmount]) VALUES (2, N'47500 Velirs', CAST(4.83 AS Decimal(10, 2)), N'/images/donations/487a9b9b4524364c39389d437be25964', 2500, 0, CAST(N'2025-01-24T16:39:42.293' AS DateTime), 47500, NULL)
INSERT [dbo].[Products] ([id], [name], [price], [image], [bonus], [sale], [addedAt], [quantity], [bonusAmount]) VALUES (3, N'90000 Velirs', CAST(9.15 AS Decimal(10, 2)), N'/images/donations/7d92d1ff1b879f44ca28a4448965b0b1', 10000, 0, CAST(N'2025-01-24T16:41:28.480' AS DateTime), 90000, NULL)
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[userDonationsDB] ON 

INSERT [dbo].[userDonationsDB] ([id], [username], [userId], [amount], [productName], [quantity], [productId], [price], [bonus], [date]) VALUES (45, N'war100ck', N'6cdc0af4-2b9d-44af-927f-3451ed698537', 750000, N'540000 Velirs', 1, 7, CAST(54.89 AS Decimal(18, 2)), N'210000', CAST(N'2025-08-28T17:21:49.2440000' AS DateTime2))
INSERT [dbo].[userDonationsDB] ([id], [username], [userId], [amount], [productName], [quantity], [productId], [price], [bonus], [date]) VALUES (46, N'war100ck', N'6cdc0af4-2b9d-44af-927f-3451ed698537', 10000, N'10000 Velirs', 1, 1, CAST(1.00 AS Decimal(18, 2)), NULL, CAST(N'2025-08-29T12:27:52.5810000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[userDonationsDB] OFF
GO
