-- Проверяем и создаем базу данных, если не существует
IF NOT EXISTS(SELECT * FROM sys.databases WHERE name = 'CouponSystemDB')
BEGIN
    CREATE DATABASE [CouponSystemDB];
END
GO

USE [CouponSystemDB]
GO

-- Устанавливаем настройки
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Удаляем внешние ключи сначала (если существуют)
IF EXISTS (SELECT * FROM sys.foreign_keys WHERE name = 'FK__PromoActi__Coupo__0603C947')
    ALTER TABLE [dbo].[PromoActivations] DROP CONSTRAINT [FK__PromoActi__Coupo__0603C947]

IF EXISTS (SELECT * FROM sys.foreign_keys WHERE name = 'FK__PromoCoup__Issue__06F7ED80')
    ALTER TABLE [dbo].[PromoCoupons] DROP CONSTRAINT [FK__PromoCoup__Issue__06F7ED80]

IF EXISTS (SELECT * FROM sys.foreign_keys WHERE name = 'FK__PromoRewa__Issue__07EC11B9')
    ALTER TABLE [dbo].[PromoRewards] DROP CONSTRAINT [FK__PromoRewa__Issue__07EC11B9]
GO

-- Удаляем таблицы в правильном порядке (из-за внешних ключей)
IF OBJECT_ID('[dbo].[PromoActivations]', 'U') IS NOT NULL 
    DROP TABLE [dbo].[PromoActivations]

IF OBJECT_ID('[dbo].[PromoRewards]', 'U') IS NOT NULL 
    DROP TABLE [dbo].[PromoRewards]

IF OBJECT_ID('[dbo].[PromoCoupons]', 'U') IS NOT NULL 
    DROP TABLE [dbo].[PromoCoupons]

IF OBJECT_ID('[dbo].[PromoIssues]', 'U') IS NOT NULL 
    DROP TABLE [dbo].[PromoIssues]
GO

-- Создаем таблицу PromoIssues
CREATE TABLE [dbo].[PromoIssues](
    [IssueId] [int] IDENTITY(1,1) NOT NULL,
    [IssueName] [nvarchar](200) NOT NULL,
    [RedeemFrom] [datetimeoffset](7) NULL,
    [RedeemTo] [datetimeoffset](7) NULL,
    [EffectiveFrom] [datetimeoffset](7) NULL,
    [EffectiveTo] [datetimeoffset](7) NULL,
    [ExpirationDuration] [int] NULL,
    [CreatedAt] [datetimeoffset](7) NULL,
PRIMARY KEY CLUSTERED 
(
    [IssueId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

-- Создаем таблицу PromoCoupons
CREATE TABLE [dbo].[PromoCoupons](
    [CouponId] [int] IDENTITY(1,1) NOT NULL,
    [IssueId] [int] NOT NULL,
    [CouponCode] [nvarchar](100) NOT NULL,
    [MaxUses] [int] NOT NULL,
    [UsedCount] [int] NOT NULL,
    [CreatedAt] [datetimeoffset](7) NULL,
PRIMARY KEY CLUSTERED 
(
    [CouponId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

-- Создаем таблицу PromoRewards
CREATE TABLE [dbo].[PromoRewards](
    [RewardId] [int] IDENTITY(1,1) NOT NULL,
    [IssueId] [int] NOT NULL,
    [ItemID] [int] NOT NULL,
    [Quantity] [int] NOT NULL,
    [RewardName] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
    [RewardId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

-- Создаем таблицу PromoActivations
CREATE TABLE [dbo].[PromoActivations](
    [ActivationId] [int] IDENTITY(1,1) NOT NULL,
    [CouponId] [int] NOT NULL,
    [UserId] [uniqueidentifier] NOT NULL,
    [ActivatedAt] [datetimeoffset](7) NULL,
PRIMARY KEY CLUSTERED 
(
    [ActivationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

-- Вставляем данные только если их нет
IF NOT EXISTS (SELECT 1 FROM [dbo].[PromoIssues] WHERE IssueId = 1)
    SET IDENTITY_INSERT [dbo].[PromoIssues] ON

IF NOT EXISTS (SELECT 1 FROM [dbo].[PromoIssues] WHERE IssueId = 1)
    INSERT [dbo].[PromoIssues] ([IssueId], [IssueName], [RedeemFrom], [RedeemTo], [EffectiveFrom], [EffectiveTo], [ExpirationDuration], [CreatedAt]) 
    VALUES (1, N'Valentine''s Day', CAST(N'2025-08-30T16:56:00.0000000+03:00' AS DateTimeOffset), CAST(N'2025-10-30T16:56:00.0000000+02:00' AS DateTimeOffset), NULL, NULL, 60, CAST(N'2025-08-30T16:56:33.6068059+03:00' AS DateTimeOffset))

IF NOT EXISTS (SELECT 1 FROM [dbo].[PromoIssues] WHERE IssueId = 2)
    INSERT [dbo].[PromoIssues] ([IssueId], [IssueName], [RedeemFrom], [RedeemTo], [EffectiveFrom], [EffectiveTo], [ExpirationDuration], [CreatedAt]) 
    VALUES (2, N'Feast of Abundance', CAST(N'2025-08-30T16:57:00.0000000+03:00' AS DateTimeOffset), CAST(N'2025-10-30T16:58:00.0000000+02:00' AS DateTimeOffset), NULL, NULL, 60, CAST(N'2025-08-30T16:58:13.3837108+03:00' AS DateTimeOffset))

IF NOT EXISTS (SELECT 1 FROM [dbo].[PromoIssues] WHERE IssueId = 3)
    INSERT [dbo].[PromoIssues] ([IssueId], [IssueName], [RedeemFrom], [RedeemTo], [EffectiveFrom], [EffectiveTo], [ExpirationDuration], [CreatedAt]) 
    VALUES (3, N'Summer sun', CAST(N'2025-08-30T16:59:00.0000000+03:00' AS DateTimeOffset), CAST(N'2025-10-30T16:59:00.0000000+02:00' AS DateTimeOffset), NULL, NULL, 60, CAST(N'2025-08-30T16:59:49.2664943+03:00' AS DateTimeOffset))

IF NOT EXISTS (SELECT 1 FROM [dbo].[PromoIssues] WHERE IssueId = 4)
    INSERT [dbo].[PromoIssues] ([IssueId], [IssueName], [RedeemFrom], [RedeemTo], [EffectiveFrom], [EffectiveTo], [ExpirationDuration], [CreatedAt]) 
    VALUES (4, N'Farewell to summer', CAST(N'2025-08-30T17:01:00.0000000+03:00' AS DateTimeOffset), CAST(N'2025-10-30T17:01:00.0000000+02:00' AS DateTimeOffset), NULL, NULL, 60, CAST(N'2025-08-30T17:01:28.5400818+03:00' AS DateTimeOffset))

SET IDENTITY_INSERT [dbo].[PromoIssues] OFF
GO

-- Вставляем данные для PromoCoupons
IF NOT EXISTS (SELECT 1 FROM [dbo].[PromoCoupons] WHERE CouponId = 1)
    SET IDENTITY_INSERT [dbo].[PromoCoupons] ON

IF NOT EXISTS (SELECT 1 FROM [dbo].[PromoCoupons] WHERE CouponId = 1)
    INSERT [dbo].[PromoCoupons] ([CouponId], [IssueId], [CouponCode], [MaxUses], [UsedCount], [CreatedAt]) 
    VALUES (1, 1, N'BNS-VALENTINE-DAY', 7000, 0, CAST(N'2025-08-30T16:56:51.4071344+03:00' AS DateTimeOffset))

IF NOT EXISTS (SELECT 1 FROM [dbo].[PromoCoupons] WHERE CouponId = 2)
    INSERT [dbo].[PromoCoupons] ([CouponId], [IssueId], [CouponCode], [MaxUses], [UsedCount], [CreatedAt]) 
    VALUES (2, 2, N'BNS-FEAST-ABUNDANCE', 7000, 0, CAST(N'2025-08-30T16:58:30.1524257+03:00' AS DateTimeOffset))

IF NOT EXISTS (SELECT 1 FROM [dbo].[PromoCoupons] WHERE CouponId = 3)
    INSERT [dbo].[PromoCoupons] ([CouponId], [IssueId], [CouponCode], [MaxUses], [UsedCount], [CreatedAt]) 
    VALUES (3, 3, N'BNS-SUMMER-SUN-2025', 7000, 0, CAST(N'2025-08-30T17:00:08.4905238+03:00' AS DateTimeOffset))

IF NOT EXISTS (SELECT 1 FROM [dbo].[PromoCoupons] WHERE CouponId = 4)
    INSERT [dbo].[PromoCoupons] ([CouponId], [IssueId], [CouponCode], [MaxUses], [UsedCount], [CreatedAt]) 
    VALUES (4, 4, N'BNS-TEST-COUPON', 7000, 0, CAST(N'2025-08-30T17:01:42.0254424+03:00' AS DateTimeOffset))

SET IDENTITY_INSERT [dbo].[PromoCoupons] OFF
GO

-- Вставляем данные для PromoRewards
IF NOT EXISTS (SELECT 1 FROM [dbo].[PromoRewards] WHERE RewardId = 1)
    SET IDENTITY_INSERT [dbo].[PromoRewards] ON

IF NOT EXISTS (SELECT 1 FROM [dbo].[PromoRewards] WHERE RewardId = 1)
    INSERT [dbo].[PromoRewards] ([RewardId], [IssueId], [ItemID], [Quantity], [RewardName]) 
    VALUES (1, 1, 81087, 1, N'Travel Corps Supply Box')

IF NOT EXISTS (SELECT 1 FROM [dbo].[PromoRewards] WHERE RewardId = 2)
    INSERT [dbo].[PromoRewards] ([RewardId], [IssueId], [ItemID], [Quantity], [RewardName]) 
    VALUES (2, 1, 81088, 1, N'Konwon City Adventure Box')

IF NOT EXISTS (SELECT 1 FROM [dbo].[PromoRewards] WHERE RewardId = 3)
    INSERT [dbo].[PromoRewards] ([RewardId], [IssueId], [ItemID], [Quantity], [RewardName]) 
    VALUES (3, 2, 910109, 1, N'Alley Cat')

IF NOT EXISTS (SELECT 1 FROM [dbo].[PromoRewards] WHERE RewardId = 4)
    INSERT [dbo].[PromoRewards] ([RewardId], [IssueId], [ItemID], [Quantity], [RewardName]) 
    VALUES (4, 2, 910110, 1, N'Alley Cat Adornment')

IF NOT EXISTS (SELECT 1 FROM [dbo].[PromoRewards] WHERE RewardId = 5)
    INSERT [dbo].[PromoRewards] ([RewardId], [IssueId], [ItemID], [Quantity], [RewardName]) 
    VALUES (5, 2, 910111, 1, N'Alley Cat Hair')

IF NOT EXISTS (SELECT 1 FROM [dbo].[PromoRewards] WHERE RewardId = 6)
    INSERT [dbo].[PromoRewards] ([RewardId], [IssueId], [ItemID], [Quantity], [RewardName]) 
    VALUES (6, 3, 90196, 1, N'Antique Vase Art Set')

IF NOT EXISTS (SELECT 1 FROM [dbo].[PromoRewards] WHERE RewardId = 7)
    INSERT [dbo].[PromoRewards] ([RewardId], [IssueId], [ItemID], [Quantity], [RewardName]) 
    VALUES (7, 3, 90197, 1, N'Ancient fan art hat')

IF NOT EXISTS (SELECT 1 FROM [dbo].[PromoRewards] WHERE RewardId = 8)
    INSERT [dbo].[PromoRewards] ([RewardId], [IssueId], [ItemID], [Quantity], [RewardName]) 
    VALUES (8, 3, 90195, 1, N'Five color leaf set')

IF NOT EXISTS (SELECT 1 FROM [dbo].[PromoRewards] WHERE RewardId = 9)
    INSERT [dbo].[PromoRewards] ([RewardId], [IssueId], [ItemID], [Quantity], [RewardName]) 
    VALUES (9, 4, 910432, 1, N'Pirate Costume')

IF NOT EXISTS (SELECT 1 FROM [dbo].[PromoRewards] WHERE RewardId = 10)
    INSERT [dbo].[PromoRewards] ([RewardId], [IssueId], [ItemID], [Quantity], [RewardName]) 
    VALUES (10, 4, 910433, 1, N'Harwin Pirate Hat')

SET IDENTITY_INSERT [dbo].[PromoRewards] OFF
GO

-- Создаем уникальный индекс (если не существует)
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE name = 'UQ__PromoCou__D349080013114FA1' AND object_id = OBJECT_ID('[dbo].[PromoCoupons]'))
BEGIN
    SET ANSI_PADDING ON
    ALTER TABLE [dbo].[PromoCoupons] ADD UNIQUE NONCLUSTERED 
    (
        [CouponCode] ASC
    )WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
END
GO

-- Добавляем DEFAULT ограничения (если не существуют)
IF NOT EXISTS (SELECT * FROM sys.default_constraints WHERE name = 'DF_PromoActivations_ActivatedAt')
    ALTER TABLE [dbo].[PromoActivations] ADD DEFAULT (sysdatetimeoffset()) FOR [ActivatedAt]

IF NOT EXISTS (SELECT * FROM sys.default_constraints WHERE name = 'DF_PromoCoupons_MaxUses')
    ALTER TABLE [dbo].[PromoCoupons] ADD DEFAULT ((1)) FOR [MaxUses]

IF NOT EXISTS (SELECT * FROM sys.default_constraints WHERE name = 'DF_PromoCoupons_UsedCount')
    ALTER TABLE [dbo].[PromoCoupons] ADD DEFAULT ((0)) FOR [UsedCount]

IF NOT EXISTS (SELECT * FROM sys.default_constraints WHERE name = 'DF_PromoCoupons_CreatedAt')
    ALTER TABLE [dbo].[PromoCoupons] ADD DEFAULT (sysdatetimeoffset()) FOR [CreatedAt]

IF NOT EXISTS (SELECT * FROM sys.default_constraints WHERE name = 'DF_PromoIssues_CreatedAt')
    ALTER TABLE [dbo].[PromoIssues] ADD DEFAULT (sysdatetimeoffset()) FOR [CreatedAt]

IF NOT EXISTS (SELECT * FROM sys.default_constraints WHERE name = 'DF_PromoRewards_Quantity')
    ALTER TABLE [dbo].[PromoRewards] ADD DEFAULT ((1)) FOR [Quantity]
GO

-- Добавляем внешние ключи (если не существуют)
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE name = 'FK_PromoActivations_CouponId')
    ALTER TABLE [dbo].[PromoActivations] WITH CHECK ADD FOREIGN KEY([CouponId])
    REFERENCES [dbo].[PromoCoupons] ([CouponId])
    ON DELETE NO ACTION  -- Изменено с CASCADE на NO ACTION для избежания циклов

IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE name = 'FK_PromoCoupons_IssueId')
    ALTER TABLE [dbo].[PromoCoupons] WITH CHECK ADD FOREIGN KEY([IssueId])
    REFERENCES [dbo].[PromoIssues] ([IssueId])
    ON DELETE NO ACTION  -- Изменено с CASCADE на NO ACTION

IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE name = 'FK_PromoRewards_IssueId')
    ALTER TABLE [dbo].[PromoRewards] WITH CHECK ADD FOREIGN KEY([IssueId])
    REFERENCES [dbo].[PromoIssues] ([IssueId])
    ON DELETE NO ACTION  -- Изменено с CASCADE на NO ACTION
GO

PRINT 'Database CouponSystemDB has been successfully created/updated!'